<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Bros Transaction{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        {% load static %}
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <main>
            {% if user.is_authenticated %}
                <div class="flex items-center mx-auto justify-between pl-[100px] pr-[100px] pb-[10px] pt-[10px] shadow-black border bg-zinc-100">
                    <div class="w-[200px] bg-slate-500">Logo</div>
                    <div class="flex items-center">
                        <div class="mr-2 hover:rounded-3xl p-2 hover:cursor-pointer hover:bg-slate-200">
                            <a href="{% url 'transactions' %}">
                                Transactions
                            </a>
                        </div>

                        <div class="mr-2 hover:rounded-3xl p-2 hover:cursor-pointer hover:bg-slate-200">
                            <a href="#">
                                Pendings
                            </a>
                        </div>

                        <div class="h-[35px] w-[730px]">
                            <input id="search" name="search" type="search"
                                class="w-full border border-black-700 p-2 rounded-sm focus:ring"
                                placeholder="Looking for something?.."
                            />
                        </div>
                    </div>

                    <div class="flex items-center">
                        <div class="bg-slate-500 mr-1">
                            Avatar
                        </div>
                        <div class="hover:rounded-3xl p-2 hover:cursor-pointer hover:bg-slate-200">
                            <a href="{% url 'log_out' %}">Log Out</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
